@import "{{ site.theme }}";

// GS 브랜드 색상
$gs-blue: #107af2;

// 기본 테마 스타일 오버라이드
.page-header {
  background-color: $gs-blue !important;
  background-image: linear-gradient(120deg, darken($gs-blue, 10%), $gs-blue) !important;
}

.main-content {
  a {
    color: $gs-blue !important;
    
    &:hover {
      color: darken($gs-blue, 15%) !important;
    }
  }

  .btn {
    background-color: $gs-blue !important;
    
    &:hover {
      background-color: darken($gs-blue, 10%) !important;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    color: darken($gs-blue, 10%) !important;
  }
}

.project-name, .project-tagline {
  color: #ffffff !important;
}

.btn.btn-github {
    display: none !important;
} 